<!DOCTYPE html> 
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>
        <div class="main-container">
            {{>header}}
            This site was created by {{title}}.It uses data from mapbox.com and darksky.net!<br>
            <img class="about" src="img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>