<!DOCTYPE html> 
<html>
    <head>
        <title>About Page</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        {{>bootstrap}}
    </head>

    <body>
        {{>header}}
        <div class="container">
            <img src="img/robot.png">
        </div>
        {{>footer}}
    </body>
</html>