<!DOCTYPE html> 
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/app.js"></script>
        {{>bootstrap}}
    </head>

    <body>
        {{>header}}
        <div class="container">
            <p>hello</p>
        </div>
        {{>footer}}
    </body>
</html>